.wrapper{
    width: 100%;
    height: auto;
}
.wrapper_form{
    height: 350px;
    width: 100%;
    background-color: var(--bg-form);
    border-radius: 10px 10px 60px 60px;
    animation: slide 0.6s linear ;
}
.form_title{
    margin: 230px 0 50px;
    color: var(--white-color);
    text-align: center;
}
.form{
    height: 330px;
    width: 100%;

    padding: 0 20px;
    border-radius: 50px;
}
.wrapper_form-input{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}
.wrapper_form-input2{
    width: 50%;
    height: 50px;
}
.wrapper_form-inputSelect{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.wrapper_form-select2{
    display: flex;
    width: 100%;
    margin-right: 250px;
}
.form_labelInput{
    margin: 10px 5px 0;
    width: 98%;
}
.form_label{
    width: 100%;
    font-size: 16px;
    color: var(--white-color);
}
.form_input{
    height: 75%;
    width: 100%;
    font-size: var(--font-size);
    border: 0;
    border-radius: 20px;
    padding: 0 10px;
}

@keyframes slide{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}

.wrapper_form-select3{
    display: flex;
    width: 100%;
    margin-left: 70%;
    margin-right: 70%;
    transform: translateX(-50%)
}
.form_chexbox{

}
.form_chexbox-lable{
    width: 100%;
    font-size: 16px;
    color: var(--white-color);
}
.chexbox{
    font-size: var(--font-size);
    border-radius: 50%;
    padding: 0 10px;
}
//result ticket
.wrapper_results {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
    margin-left:auto;
    margin-right:auto;
    
    z-index: 1;
  }
  
  .results_ticket {
    border: 1px solid var(--border-btn); /* Màu xanh chủ đạo */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 43%);
    background-image: linear-gradient(to bottom, #5a79b675, rgb(0 0 0 / 60%)), url(https://th.bing.com/th/id/OIP.0UQaGVOAYyykB5EI83s8YwHaF7?pid=ImgDet&rs=1);
    background-size: contain;
    background-repeat: no-repeat;
  
    .title_result {
      font-weight: bold;
      color: #caf4ff; /* Màu xanh chủ đạo */
      margin: 10px 10px 0 0;
      font-size: 17px;
      font-weight: 600;
    }
  
    .result_item {
      margin: 10px 5px 0 0;
      color: var(--white-color); /* Màu văn bản chính */
      font-size: 17px;
      padding: 0 5 0 0;
      font-weight: 600;
    }
  
    .button_result {
      background-color: var(--border-btn); /* Màu nền xanh chủ đạo */
      color: #fff; /* Màu văn bản trắng */
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
  
      &:hover {
        background-color:var(--btn-header); /* Màu nền xanh nhạt khi hover */
      }
    }
    .row{
        display: flex;
    }
    .row_item{
        
    }
  }
  